# Hadoop Version
HADOOP_VERSION=3.1.2

# Ports Configuration
HADOOP_NAMENODE_PORT=9870
HADOOP_DATANODE_PORT=9864
HADOOP_RESOURCEMANAGER_PORT=8088
HADOOP_NODEMANAGER_PORT=8042
HADOOP_JOBHISTORY_PORT=19888
HADOOP_HDFS_RPC_PORT=9000
HADOOP_SSH_PORT=22222

# Container Name
CONTAINER_NAME=hadoop-master
IMAGE_NAME=hadoop-cluster:3.1.2
