# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo

# Docker / Logs / Data
*.log
data/
logs/
.env

# Hadoop temp
/yarn_data/
/app/

# VirtualBox and ISO Images
*.iso
*.vdi
*.viso
