# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo

# Docker / Logs / Data
*.log
data/
logs/
.env

# Hadoop temp
/yarn_data/
/app/

# VirtualBox, VMware, Hyper-V and Disk Images
*.iso
*.vdi
*.viso
*.vmdk
*.vmx
*.vmxf
*.nvram
*.vmsd
*.scoreboard
*.vhdx
*.vhd
*.bak
*.7z
*.zip
*.tar.gz
*.tar
kali-linux-*.vmwarevm/
Ubuntu-*.vmwarevm/

